form {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.date-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-custom {
    margin: 3px;
}

.btn-custom, label {
    margin: 3px;
}
