

.table {
    margin: 10px;
    box-shadow: 1px 1px 5px lightgray;
    overflow-y: auto;
    border-radius: 2px 2px 0 0;
    max-width: 980px;
    max-height: 400px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;

}

table[class='content-table'] thead th {
    background-color: #e0e0e0;
    position: sticky;
    top: 0;
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 840px) {

    .table {
        width: unset;
        max-width: unset;
    }


}